.bestsellers {
    margin: 0 auto 120px auto;
    width: 81.95%;
    padding-top: 100px;
    border-top: 2px solid rgba(33, 33, 33, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bestsellers__box {
    width: 340px;
    display: flex;
    justify-content: space-between;
    height: 34px;
}
.bestsellers__button-buy {
    color: rgb(235, 40, 25);
    border: none;
    background-color: rgb(255, 255, 255);
    height: 29px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
    cursor: pointer;
}
.bestsellers__button-more {
    width: 211px;
    height: 56px;
    background-color: rgb(235, 40, 25);
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 500;
    font-size: 20px;
    border-radius: 12px;
    padding: 16px 28px;
    margin-top: 60px;
    cursor: pointer;
}
.bestsellers__button {
    height: 29px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(148, 156, 162);
    font-weight: normal;
    font-size: 24px;
    cursor: pointer;
}
.bestsellers__button_active {
    height: 100%;
    border: none;
    border-bottom: 1.5px solid rgb(235, 40, 25);
    background-color: rgb(255, 255, 255);
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 8px;
    cursor: pointer;
}
.bestsellers__buttons-box {
    width: 368px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 24px;
}
.bestsellers__container {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}
.bestsellers__product-name {
    color: rgb(33, 33, 33);
    font-weight: 500;
    font-size: 24px;
    margin: 10px 0 16px 0;
    padding: 0;
}
.bestsellers__product-price {
    color: rgb(141, 137, 137);
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 2px 0;
    padding: 0;
}
.bestsellers__product-rub {
    color: rgb(33, 33, 33);
    font-weight: 600;
    font-size: 28px;
    margin: 0;
    padding: 0;
}
.bestsellers__product {
    width: 340px;
    height: 479px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(18, 21, 105, 0.08);
    transition: transform 0.5s ease-in-out;
}
 
.bestsellers__title {
    color: rgb(33, 33, 33);
    font-weight: 500;
    font-size: 52px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
.bestsellers__product-img {
    border-radius: 10px;
}
.bestsellers__color {
    color: rgb(66, 66, 68);
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 35px 0;
    padding: 0;
    display: flex;
    gap: 8px;
    align-items: center;
}
.bestsellers__product-like {
    position: absolute;
    right: 14px;
    top: 15px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.bestsellers__text-box {
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
    
}
.bestsellers__product-color {
    margin: 0;
    padding: 0;
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: normal;
}
.bestsellers__color-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 24px;
}
.bestsellers__button-mobile {
    display: none;
}

@media screen and (max-width: 1439px) {
    .bestsellers__container {
        justify-content: center;
    }
    .bestsellers {
        width: 91.81%;
    }
}

@media screen and (max-width: 1024px) {
    .bestsellers__container {
        gap: 0;
        justify-content: space-between;
    }
    .bestsellers__product {
        width: 272px;
        height: 383px;
        padding: 14px;
    }
    .bestsellers__product-img {
        width: 272px;
        height: 272px;
    }
    .bestsellers__box {
        width: 100%;
        height: 26px;
    }
    .bestsellers__product-name {
        margin: 8px 0 4.5px 0;
    }
    .bestsellers__color {
        margin-bottom: 25px;
    }
    .bestsellers__product-rub {
        font-size: 20px;
    }
    .bestsellers__button-buy {
        height: 26px;
    }
    .bestsellers__button-more {
        width: 180px;
        height: 53px;
        font-size: 16px;
        margin-top: 48px;
    }
  }

  @media screen and (max-width: 664px) {
    .bestsellers {
        width: 95%;
        margin: 0 auto;
        width: 91.81%;
    }
    .bestsellers__container {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .bestsellers__product {
        width: 256px;
        height: 370px;
        padding: 16px;
    }
    .bestsellers__product-img {
        width: 256px;
        height: 256px;
    }
    .bestsellers__product-name {
        font-size: 20px;
        margin: 10px 0 6px 0;
    }
    .bestsellers__button-mobile {
        display: block;
        border: none;
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: normal;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 8px;
        padding: 0;
    }
    .bestsellers__buttons-box {
        justify-content: center;
        width: 139px;
        margin-bottom: 24px;
        margin-top: 10px;
    }
    .bestsellers__title {
        font-size: 32px;
    
    }
    .bestsellers__button {
        display: none;
    }
    .bestsellers__button_active {
        display: none;
    }
    .bestsellers__button-more {
        width: 288px;
        height: 51px;
        font-size: 18px;
    }
  }
