.catalog {
    margin: 40px auto 60px auto;
    width: calc(100% - 260px);
}
.catalog__box {
    width: 100%;
    display: flex;
    gap: 24px;
}
.catalog__button-filter {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0;
}
.catalog__products-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    width: calc(100% - 376px);
}
.catalog__pagination {
    width: 336px;
    display: flex;
    gap: 16px;
}
.catalog__pagination-box {
    display: flex;
    gap: 8px;
}
.catalog__pagination-page {
    background-color: rgb(255, 255, 255);
    border: none;
    display: flex;
    align-items: center;
    color: rgb(148, 156, 162);
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 28px;
    cursor: pointer;
}
.catalog__pagination-arrow {
    background-color: rgb(255, 255, 255);
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
}
.catalog__button {
    width: 119px;
    background-color: rgb(242, 243, 245);
    color: rgb(33, 33, 33);
    border: none;
    height: 53px;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 36px;
    padding: 0;
}
.catalog__button:last-of-type {
    margin-right: 0;
}
.catalog__button_active {
    width: 119px;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    border: none;
    height: 53px;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
}
.catalog__buttons-box {
    display: flex;
    align-items: center;
}
.catalog__checkbox-box {
    margin-bottom: 24px;
}
.catalog__checkbox-box:last-of-type {
    margin-bottom: 0;
}
.catalog__checkbox-button {
    height: 29px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(33, 33, 33);
    font-weight: 500;
    font-size: 24px;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin-bottom: 14px;
 }
 .catalog__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.catalog__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .catalog__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid rgb(33, 33, 33);
    border-radius: 7px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .catalog__checkbox:checked+label::before {
    border: none;
    width: 20px;
    height: 20px;
    background-color: rgb(235, 40, 25);
    background-image: url("../images/checkbox.svg");
  }
  .catalog__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 53px;
    align-items: center;
}
.catalog__filter {
    width: calc(100% - 780px);
    height: 809px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.catalog__filter::-webkit-scrollbar {
    width: 6px;
}

.catalog__filter::-webkit-scrollbar-track {
    background-color: rgb(245, 245, 245);
}

.catalog__filter::-webkit-scrollbar-thumb {
    background-color: rgba(235, 40, 25, 0.2);
}
.catalog__inputs-box {
    width: 380px;
    margin-top: 14px;
    display: flex;
    gap: 10px;
}
.catalog__label {
    font-weight: normal;
    font-size: 20px;
    color: rgb(33, 33, 33);
    margin: 0 0 12px 0;
    padding: 0;
}

.catalog__label:last-of-type {
    margin: 0;
}
.catalog__link {
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
.catalog__price-box {
    width: 100%;
    margin: 40px 0 24px 0;
}
.catalog__price-button {
    width: 158px;
    height: 29px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(33, 33, 33);
    font-weight: 500;
    font-size: 24px;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 0;
 }
 .catalog__price-input {
    width: 161px;
    height: 44px;
    border: 1.5px solid rgb(223, 229, 235);
    border-radius: 12px;
    padding-left: 12px;
    font-size: 20px;
    font-weight: normal;
}
.catalog__products {
    width: 780px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.catalog__select {
    border: none;
    color: rgb(33, 33, 33);
    font-size: 20px;
    font-weight: normal;
    margin: 0 24px 0 8px;
    padding-right: 6px;
}
.catalog__title {
    font-size: 52px;
    font-weight: 500;
    margin: 0 0 32px 0;
    padding: 0;
    color: rgb(33, 33, 33);
}
.catalog__btn {
    display: none;
}
.catalog__select-table {
    display: none;
}
.catalog__input-search {
    display: none;
}
.catalog__img-search {
    display: none;
}

@media screen and (max-width: 1435px) {
    .catalog__inputs-box {
        flex-direction: column;
    }
  } 
  @media screen and (max-width: 1369px) {
    .catalog__box {
        flex-direction: column;
    }
    .catalog__filter {
       display: none;
    }
    .catalog__btn {
        display: flex;
        background-color: rgb(255, 255, 255);
        border: none;
        width: 98px;
        height: 26px;
        gap: 8px;
        align-items: center;
        margin-left: 24px;
        padding: 0;
        cursor: pointer;
        color: black;
    }
    .catalog__products-wrap {
        width: 100%;
        justify-content: center;
    }
    .catalog__products {
        width: 90%;
        justify-content: space-between;  
        margin-top: 80px;
    }
  }
  @media screen and (max-width: 1132px) {
    .catalog__products {
        width: 100%;
    }
  }

  @media screen and (max-width: 1040px) {
    .bestsellers__product {
        width: 300px;
    }
    .bestsellers__box {
        width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    .catalog {
        width: calc(100% - 84px);
    }
    .catalog__products {
        margin-top: 60px;
    }
  }

  @media screen and (max-width: 955px) {
    .catalog__button {
        margin-right: 10px;
        font-size: 18px;
        width: 90px;
    }
    .catalog__button_active {
        font-size: 18px;
        width: 90px;
    }
    .catalog__select {
        margin-right: 10px;
    }
    .catalog__btn {
        margin-left: 10px;
    }
  }

  @media screen and (max-width: 759px) {
    .catalog__products {
        justify-content: center;
    }
  }

  @media screen and (max-width: 671px) {
    .catalog__button {
        display: none;
    }
    .catalog__button_active {
        display: none;
    }
    .catalog__select-table {
        background-color: black;
        color: white;
        width: 288px;
        height: 37px;
        border-radius: 8px;
        border: none;
        display: block;
    }
    .catalog__input-search {
        background-color: rgb(242, 243, 245);
        border-radius: 6px;
        width: 264px;
        height: 32px;
        border: none;
        padding-left: 24px;
        font-size: 12px;
        font-weight: normal;
        display: block;
    }
    .catalog__img-search {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 11px;
        height: 11px;
    }
    .catalog__button-filter {
        display: none;
    }
    .catalog__container {
        justify-content: flex-start;
    }
    .catalog__select {
        margin-left: 0;
    }
    .catalog__products {
        margin-top: 40px;
    }
  }

  @media screen and (max-width: 448px) {
    .catalog__price-box {
        margin: 0;
    }
    .catalog__inputs-box {
        width: 100%;
    }
    .catalog__price-button {
        font-size: 20px;
    }
    .catalog__checkbox-button {
        font-size: 20px;
    }
    .catalog__price-input {
        height: 40px;
    }
  }
  @media screen and (max-width: 427px) {
    .catalog__buttons-box {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-top: 10px;
    }
    .catalog__container {
        margin-top: 25px;
    }
    .catalog__btn {
        margin-left: 5px;
    }
  }
  @media screen and (max-width: 379px) {
    
    .catalog__select {
        padding: 0;
    }
  }

  @media screen and (max-width: 365px) {
    .catalog {
        width: 288px;
        margin: 24px auto 0 auto;
    }
    .catalog__select {
        width: 137px;
        font-size: 12px;
    }
    .catalog__btn {
        font-size: 12px;
        width: 58px;
        margin-left: 60px;
    }
    .catalog__buttons-box {
        max-width: 100%;
    }
    .catalog__pagination-page {
        font-size: 12px;
    }
    .catalog__pagination-box {
        gap: 4px;
    }
    .catalog__pagination {
        justify-content: center;
        width: 248px;
        gap: 8px;
    }
    .catalog__products {
        margin-top: 24px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        row-gap: 26px;
        justify-content: space-between;
    }
    .catalog__buttons-box {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-top: 10px;
    }
  }

  
@media screen and (max-width: 347px) {
    .catalog__price-button {
        font-size: 20px;
    }
    .catalog__checkbox-button {
        font-size: 20px;
        text-align: left;
        max-width: 95%;
        min-height: 37px;
    }
    
}