.company {
    margin: 0 auto 160px auto;
    max-width: 1180px;
    height: 505px;
    background-image: url('../images/companyImg.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px rgba(18, 21, 105, 0.08);
    border-radius: 20px;
    overflow: hidden;
}
.company__container {
    width: 708px;
    margin: 40px 0 60px 52px;
}
.company__link {
    color: rgb(235, 40, 25);
    text-decoration: none;
    margin: 40px 0 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    gap: 12px;
}
.company__subtitle {
    font-weight: normal;
    font-size: 22px; 
    padding: 0;
    margin: 0 0 20px 0;
    color: rgba(33, 33, 33, 0.9);
}
.company__title {
    color: rgb(33, 33, 33);
    font-weight: 500;
    font-size: 52px;
    margin: 0 0 24px 0;
    padding: 0;
}