.features {
    width: calc(100% - 260px);
    margin: 0 auto 160px auto;
    display: flex;
    flex-direction: column;
}
.features__container {
    width: calc(50% - 10px);
}
.features__box {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}
.features__img {
    margin-bottom: 20px;
    width: 100%;
}
.features__image {
    width: 100%;
    margin-top: 84px;
}

@media screen and (max-width: 1024px) {
    .features {
        width: calc(100% - 84px);
    }
    .features__box {
        flex-direction: column;
    }
    .features__container {
        width: 100%;
    }
}

@media screen and (max-width: 476px) {
    .features {
        width: calc(100% - 32px);
        margin-bottom: 62px;
    }
    .features__img {
        height: 220px;
        margin-bottom: 0;
    }
    .features__image {
        height: 220px;
        margin-top: 80px;
    }
    .features__box {
        margin-top: 20px;
    }
    .popular {
        margin-top: 62px !important;
    }
    .bestsellers__product {
        width: 256px ;
    }
}