.features {
    max-width: 1180px;
    margin: 0 auto 160px auto;
    display: flex;
    flex-direction: column;
}
.features__container {
    
}
.features__box {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}
.features__img {
    margin-bottom: 20px;
}