.footer {
    background-color: rgb(33, 33, 33);
    max-width: 1180px;
    border-radius: 40px 40px 0 0;
    max-height: 1264px;
    padding: 80px 130px 71px 130px;
    margin: 0 auto;
}

.footer__address {
    font-weight: normal;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.footer__button-call {
    width: 247px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(235, 40, 25);
    border: none;
    border-radius: 12px;
    height: 56px;
    padding: 0;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.footer__button-social {
    width: 56px;
    background-color: rgb(235, 40, 25);
    border: none;
    border-radius: 12px;
    height: 56px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__button {
    background-color: rgb(33, 33, 33);
    border: none;
    color: rgb(255, 255, 255);
    padding: 0;
    cursor: pointer;
    font-weight: normal;
    font-size: 28px;
}

.footer__button_active {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(33, 33, 33);
    padding: 12px 28px;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    border-radius: 12px;
}

.footer__buttons-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__city {
    font-weight: 500;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.footer__container {
    width: 100%;
    margin: 0 auto 0 auto;
}

.footer__feedback {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 61px 0 34px 0;
}

.footer__location-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__location {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 80px;
}

.footer__tel {
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 10px 0 32px 0;
    padding: 0;
    display: flex;
    gap: 14px;
    color: white;
}

.footer__tel:last-of-type {
    margin-bottom: 0;
}

.footer__text {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.footer__title {
    color: rgb(255, 255, 255);
    font-size: 52px;
    font-weight: 500;
    margin: 0 0 32px 0;
    padding: 0;
}

.footer__map-img {
    width: 560px;
    height: 600px;
}

.footer__feedback-box {
    width: 457px;
    display: flex;
    justify-content: space-between;
}

.footer__button-up {
    background-color: rgb(33, 33, 33);
    border: none;
}

.footer__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__links-container {
    width: 660px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.footer__buttons-container {
    width: 104px;
    display: flex;
    justify-content: space-between;
}

.footer__btn {
    width: 22px;
    height: 22px;
    border: none;
    background-color: rgb(33, 33, 33);
    cursor: pointer;
    padding: 0;
}

.footer__link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    cursor: pointer;
}

.footer__logo-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 62px;
    margin-top: 64px;
}

.footer__text-box {
    width: 500px;
}

.footer__links {
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.footer__ref {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
}

.footer__container-text {
    display: flex;
    gap: 20px;
}

.footer__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer__button_mobile {
    display: none;
    color: black;
}

.footer__button-call_mobile {
    display: none;
}

@media screen and (max-width: 1264px) {
    .footer__button_active {
        font-size: 18px;
    }

    .footer__button {
        font-size: 18px;
    }

    .footer {
        padding: 75px 42px 299px 42px;
    }

    .footer__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .footer__location {
        margin-top: 73px;
    }

    .footer__city {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .footer__address {
        font-size: 18px;
    }

    .footer__tel {
        font-size: 18px;
        margin: 10px 0 20px 0;
        color: white;
    }

    .footer__map-img {
        width: 480px;
        height: 558px;
    }

    .footer__button-call {
        width: 211px;
        height: 53px;
        font-size: 16px;
    }

    .footer__button-social {
        width: 53px;
        height: 53px;
    }

    .footer__feedback-box {
        width: 418px;
        align-items: center;
    }

    .footer__button-up {
        padding: 0;
        width: 56px;
        height: 56px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        max-height: 1251px;
    }
}

@media screen and (max-width: 862px) {
    .footer {
        padding: 75px 20px 299px 20px;
        width: calc(100% - 40px);
    }

    .footer__buttons-box {
        max-width: 770px;
    }

    .footer__links-container {
        width: 530px;
    }

    .footer__buttons-container {
        width: 90px;
    }

    .footer__link {
        font-size: 16px;
    }
}

@media screen and (max-width: 777px) {
    .footer__map-img {
        width: 288px;
        height: 309px;
    }

    .footer__button_mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        width: 288px;
        height: 40px;
        border: none;
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        cursor: pointer;
    }

    .footer__buttons-box {
        justify-content: center;
    }

    .footer__button_active {
        display: none;
    }

    .footer__button {
        display: none;
    }
}

@media screen and (max-width: 664px) {
    .footer {
        margin-top: 82px;
    }
}

@media screen and (max-width: 586px) {
    .footer {
        padding: 32px 16px 60px 16px;
        width: calc(100% - 32px);
        max-height: 1796px;
    }

    .footer__title {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .footer__city {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .footer__address {
        font-size: 16px;
    }

    .footer__tel {
        font-size: 16px;
        margin: 6px 0 20px 0;
        color: white;
    }

    .footer__location {
        margin-top: 28px;
        flex-direction: column;
        gap: 24px;
    }

    .footer__button-call_mobile {
        width: 288px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 500;
        background-color: rgb(235, 40, 25);
        border: none;
        border-radius: 12px;
        height: 48px;
        padding: 0;
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .footer__button-call {
        display: none;
    }
    .footer__links-container {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .footer__box {
       height: 177px;
    }

    .footer__feedback-box {
        gap: 12px;
        justify-content: flex-start;
    }

    .footer__buttons-container {
        min-width: 104px;
    }

    .footer__logo-box {
        flex-direction: column;
        height: 267px;
    }

    .footer__links {
        flex-direction: column;
        gap: 18px;
    }
    .footer__container-text {
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;
    }
    .footer__logo {
        width: 105.96px;
        height: 58.46px;
    }
    .footer__text-box {
        height: 173px;
        width: 288px;
    }
    .footer__links {
        width: 288px;
    }
}