.footer {
    background-color: rgb(33, 33, 33);
    width: 1180px;
    border-radius: 40px 40px 0 0;
    height: 1172px;
    padding: 80px 130px 71px 130px;
    margin: 0 auto;
  }
  .footer__address {
    font-weight: normal;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
.footer__button-call {
    width: 247px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(235, 40, 25);
    border: none;
    border-radius: 12px;
    height: 56px;
    padding: 0;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.footer__button-social {
    width: 56px;
    background-color: rgb(235, 40, 25);
    border: none;
    border-radius: 12px;
    height: 56px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__button {
    background-color: rgb(33, 33, 33);
    border: none;
    color: rgb(255, 255, 255);
    padding: 0;
    cursor: pointer;
    font-weight: normal;
    font-size: 28px;
}
.footer__button_active {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(33, 33, 33);
    padding: 12px 28px;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    border-radius: 12px;
}
.footer__buttons-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__city {
    font-weight: 500;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
.footer__container {
    width: 100%;
    margin: 0 auto 0 auto;
}
.footer__feedback {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 61px 0 34px 0;
}
.footer__location-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__location {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 80px;
}
.footer__tel {
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 10px 0 32px 0;
    padding: 0;
    display: flex;
    gap: 14px;
}
.footer__tel:last-of-type {
   margin-bottom: 0;
}
.footer__text {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.footer__title {
    color: rgb(255, 255, 255);
    font-size: 52px;
    font-weight: 500;
    margin: 0 0 32px 0;
    padding: 0;
}
.footer__map-img {
    width: 560px;
    height: 600px;
}
.footer__feedback-box {
    width: 457px;
    display: flex;
    justify-content: space-between;
}
.footer__button-up {
    background-color: rgb(33, 33, 33);
    border: none;
}
.footer__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__links-container {
    width: 660px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}
.footer__buttons-container {
    width: 104px;
    display: flex;
    justify-content: space-between;
}
.footer__btn {
    width: 21px;
    height: 21px;
    border: none;
    background-color: rgb(33, 33, 33);
    cursor: pointer;
}
.footer__link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    cursor: pointer;
}
.footer__logo-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 62px;
    margin-top: 64px;
}
.footer__text-box {
    width: 500px;
}
.footer__links {
    width: 420px;
    display: flex;
    justify-content: space-between;
}
.footer__ref {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
}
.footer__container-text {
    display: flex;
    gap: 20px;
}
.footer__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}