.header {
    width: calc(100% - 260px);
    height: 44px;
    margin: 28px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .header__feedback-container {
    display: flex;
    width: 305px;
    justify-content: space-between;
    align-items: center;
}
.header__icon-link {
    text-decoration: none;
}
.header__icons-container {
    display: flex;
    gap: 12px;
    width: 120px;
}
.header__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
    color: rgb(33, 33, 33);
    font-size: 18px;
}
.header__links-container {
    width: 289px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.header__tel-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: rgba(33, 33, 33, 0.8);
}
.header__cart {
    display: none;
}
.header__burger-button {
    display: none;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0;
}
@media screen and (max-width: 1024px) {
    .header__link {
        font-size: 16px;
    }
    .header__tel-text {
        font-size: 16px;
    }
    .header {
        width: calc(100% - 84px);
    }
    
  } 
  @media screen and (max-width: 858px) {
    .header__feedback-container {
        width: 280px;
    }
    .header__logo {
        width: 56px;
        height: 26px;
    }
    .header__links-container {
        gap: 5px;
    }
    
  } 

@media screen and (max-width: 585px) {
    .header {
        height: 58px;
        margin-top: 0;
    }
    .header__links-container {
        display: none;
    }
    .header__feedback-container {
        display: none;
    }
    .header__cart {
        display: block;
        
    }
    .header__burger-button {
        display: block;
    }
    
  }

  @media screen and (max-width: 433px) {
    .header {
        width: calc(100% - 32px);
    }
    
  } 