.menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  position: absolute;
  top: 60px;
  width: 248px;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 270px;
  box-shadow: 4px 4px 6px 6px rgba(18, 21, 105, 0.08);
  z-index: 200;
  padding: 20px;

}
.menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 14px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.menu__item {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;

}
.menu__active {
  display: flex !important;
  visibility: visible;
  opacity: 1;
}
.menu__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 0;
}
.menu__box {
  display: flex;
  width: calc(100% - 20px);
  justify-content: space-between;
  align-items: center;
}
