.mob--menu {
  display: flex;
  flex-direction: column;
}
.mob--menu__title {
  font-size: 32px;
  font-weight: 500;
  color: rgb(33, 33, 33);
  margin: 24px 0;
}
.mob--menu__container {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  margin: 0 0 12px;
  min-width: 288px;
  text-decoration: none;
  color: rgb(33, 33, 33);
  box-shadow: 1px 1px 5px 5px rgba(18, 21, 105, 0.08);
  border-radius: 20px;
}
.mob--menu__text {
  font-size: 16px;
  font-weight: 500;
}
.mob--menu__button {
  background-color: transparent;
  border: 0;
  transform: scale(1.5);
}

.menu__list {
  gap: 14px;
}
