.modal {
    width: 78%;
    height: 644px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    z-index: 200;
    position: relative;
    padding: 28px;
    overflow: hidden;
    margin: 10% auto 0 auto;
}

.modal__container {
    width: 100%;
    height: 100vh;
    z-index: 200;
    position: absolute;
    display: flex;
    
    bottom: 0;
    left: 0;
    display: none;
  }
  .modal__wrap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 1000;
    overflow-x: auto;
  }

  .active {
    display: flex;
  }
  .modal__overlay_active {
    background-color: rgba(33, 33, 33, 0.4);
    width: 100%;
    min-height: 100%;
    z-index: 150;
    top: 0;
    position: absolute;
  }

.modal__overlay {
    
}
.modal__button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.modal__button-active {
    background-color: rgb(33, 33, 33);
    min-width: 103px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 20px;
    border: none;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.modal__button {
    background-color: rgb(242, 243, 245);
    min-width: 103px;
    color: rgb(33, 33, 33);
    font-weight: 500;
    font-size: 20px;
    border: none;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.modal__buttons-box {
    display: flex;
    gap: 16px;
}

.modal__text {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: rgb(148, 156, 162);
    margin-top: 32px;
}

.modal__input {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(223, 229, 235);
    border-radius: 12px;
    height: 51px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-top: 6px;
}

.modal__box {
    display: flex;
    gap: 20px;
    margin-top: 28px;
}

.modal__img {
    width: 100%;
    height: 100%;
}

.modal__img_box {
    max-height: 460px;
    width: calc(100% - 336px - 16px);
}

.modal__address-name {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    color: rgb(33, 33, 33);
}

.modal__address-text {
    margin: 0;
    padding: 0;
    color: rgb(66, 66, 68);
    font-size: 16px;
    font-weight: normal;
    margin-top: 4px;
}

.modal__address-box {
    width: 100%;
    height: 64px;
    border-radius: 8px;
}

.modal__addresses-box {
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: 460px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal__addresses-box::-webkit-scrollbar {
    width: 6px;
}

.modal__addresses-box::-webkit-scrollbar-track {
    background-color: rgb(245, 245, 245);
}

.modal__addresses-box::-webkit-scrollbar-thumb {
    background-color: rgba(235, 40, 25, 0.2);
}
.modal__select {
    display: none;
}


@media screen and (max-width: 1312px) {
    .modal__buttons-box {
        display: none;
    }
    .modal__select {
        display: block;
        width: 248px;
        height: 37px;
        background-color: rgb(33, 33, 33);
        color: white;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 500;
    }
  }
  @media screen and (max-width: 1312px) {
    .modal__img {
        object-fit: cover;
    }
    
  }

  @media screen and (max-width: 806px) {
    .modal__box {
        flex-direction: column;
    }
    .modal {
        height: 1000px;
        
        
    }

    .modal__overlay_active {
        min-height: 1200px;  
      }
    
    .modal__addresses-box {
        height: 40vh;
    }
    .modal__img {
        width: 100%;
        border-radius: 20px;
    }
    .modal__img_box {
        width: 100%;
        border-radius: 20px;
    }
  }

  @media screen and (max-width: 524px) {
    .modal {
        height: 900px;
    }
  }

  @media screen and (max-width: 377px) {
    .modal {
        width: 248px;
        height: 830px;
        padding: 20px;
    }
    .modal__button-close {
        display: none;
    }
    .modal__text {
        font-size: 12px;
        margin-top: 20px;
    }
    .modal__input {
        width: 248px;
        height: 49px;
        padding-left: 20px;
        font-size: 16px;
    }
    .modal__img {
        height: 268px;
        width: 100%;
    }
    .modal__address-name {
        font-size: 16px;
    }
    .modal__address-text {
        font-size: 12px;
        color: rgb(66, 66, 68);
        font-weight: 500;
    }
    .modal__addresses-box {
        height: 390px;
    }
  }