.product {
    width: calc(100% - 260px);
    display: flex;
    justify-content: space-between;
    margin: 60px auto 60px auto;
}
.slides__product {
    gap: 10px;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.product__button-basket {
    width: 56px;
    height: 56px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.product__button-delivery {
    width: 203px;
    height: 56px;
    border: none;
    background-color: rgb(235, 40, 25);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

    border-radius: 12px;
}
.product__button-like {
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.product__button-like-img {
    width: 100%;
    height: 100%;
}
.product__buttons-box {
    width: 302px;
    display: flex;
    justify-content: space-between;
}
.product__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product__images {
    height: 560px;
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}
.product__info-box {
    width: calc(100% - 520px);
    min-height: 560px;
}
.product__link {
    text-decoration: none;
    color: rgb(148, 156, 162);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.product__mark {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: rgb(33, 33, 33);
    background-color: rgb(255, 255, 255);
}
.product__name-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.product__name {
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-size: 32px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
.product__price-box {
    height: 56px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.product__select {
    width: 193px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 10px;
    height: 44px;
    font-weight: normal;
    font-size: 20px;
    appearance: none;
    padding-left: 14px;
    background-image: url(../images/arrowDown.svg);
    background-repeat: no-repeat;
    background-position: right 14px center;
    margin-bottom: 24px;
}
.product__subtitle {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 12px 0;
}
.product__title {
    margin: 20px 0 12px 0;
    padding: 0;
    font-weight: 600;
    font-size: 24px;
}
.slides {
    overflow: hidden;
    max-width: 388px;
    position: relative;
}
#product__slider {
    max-width: 388px;
    overflow: hidden;
    margin: 0 auto;
}
#info__slider {
    display: none;
}

.product__prev {
    background-image: url('../images/arrowButton.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    background-position: center;
    transform: scaleX(-1);
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: -7px;
}
.product__next {
    background-image: url('../images/arrowButton.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    background-position: center;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 0;
}
#product__slider_mobile {
    display: none;
}
.product__button-more {
    font-size: 20px;
    font-weight: 500;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(235, 40, 25);
    padding: 0;
    margin-top: 18px;
    cursor: pointer;
}
@media screen and (max-width: 1195px) {
    .product__buttons-box {
        width: 300px;
        gap: 10px;
    }
    .product__button-basket {
        padding: 0;
    }
    .product__button-delivery {
        padding: 0;
    }
    .product__container {
        flex-direction: column;
        gap: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .product {
        width: calc(100% - 84px);
    }
}

@media screen and (max-width: 906px) {
    .product {
       flex-direction: column;
       align-items: center;
       gap: 40px;
       margin-bottom: 0;
    }
    .product__info-box {
        width: 100%;
        min-height: 380px;
    }
    .product__container {
        flex-direction: row;
    }
    .product__button-more {
        display: none;
    }
}

@media screen and (max-width: 497px) {
    .product__image {
        display: none;
    }
    .product__images {
        display: none;
    }
    
    #product__slider {
        display: none;
    }

    .info__buttons-box {
        margin-top: 12px;
    }
    #info__slider {
        position: relative;
        width: 380px;

    }
    #info__slider .slides img {
      display: none;
      transition: opacity 0.5s;
    }
    
    #info__slider .slides img.active {
      display: block;
    }
    
    #info__slider .dots {
      text-align: center;
    }
    
    #info__slider .dots span {
      cursor: pointer;
      height: 8px;
      width: 8px;
      margin: 0 8px;
      color: rgba(255, 255, 255, 0.6);
      border: 1px solid rgb(33, 33, 33);
      border-radius: 50%;
      display: inline-block;
    }
    
    #info__slider .dots span.active {
      background-color: rgb(33, 33, 33);
    }

    .slides {
        width: 100%;
    }
    .info__slide {
        width: 100%;
    }

    .info__prev {
        display: none;
    }
    .info__next {
        display: none;
    }

}

@media screen and (max-width: 476px) {
    .info__slide {
        width: 280px;
    }
    #info__slider {
        width: 280px;
        margin: 0 auto 12px auto;
    }
    
    .product__link {
        font-size: 12px;
    }
    .product__name {
        font-size: 18px;
    }
    .bestsellers__product-price {
        font-size: 12px;
        margin-bottom: 0;
    }
    .product__container {
        flex-direction: column;
    }
    .product__button-delivery {
        width: 231px;
        height: 45px;
        font-size: 16px;
    }
    .product__button-basket {
        width: 45px;
        height: 45px;
    }
    .product__basket-img {
        width: 45px;
        height: 45px; 
    }
    .bestsellers__text-box {
        align-items: center;
    }
    .bestsellers__product-color {
        font-size: 12px;
    }
    .product__title {
        font-size: 20px;
        margin-bottom: 6px;
    }
    .product__subtitle {
        font-size: 16px;
    }
    .product__buttons-box {
        width: 100%;
    }
    .product {
        width: calc(100% - 32px);
    }

}