.search {
    width: calc(100% - 260px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-shadow: 4px 4px 6px 6px rgba(18, 21, 105, 0.08);
    border-radius: 16px;
    margin: 28px auto 0 auto;
}
.search__button {
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
 }
 .search__buttons-container {
    width: 104px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
}
.search__link {
    text-decoration: none;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.search__links-container {
    margin-left: 24px;
    width: 459px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 858px) {
    .search {
        width: 95%;
    }
  } 
@media screen and (max-width: 1024px) {
    .search__link {
        font-size: 16px;
    }
    .search {
        height: 56px;
        width: 91.81%;
    }
    
  }
  @media screen and (max-width: 585px) {
    .search {
        display: none;
    }
    .search__buttons-container {
        margin: 0;
        width: 50px;
    }
    
  }
  