.product__button-delivery {
    width: 203px;
    height: 56px;
    border: none;
    background-color: rgb(235, 40, 25);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    border-radius: 12px;
}