.catalog__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.catalog__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .catalog__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid rgb(33, 33, 33);
    border-radius: 7px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .catalog__checkbox:checked+label::before {
    border: none;
    width: 20px;
    height: 20px;
    background-color: rgb(235, 40, 25);
    background-image: url("../../../images/checkbox.svg");
  }