.footer__button-social {
    width: 56px;
    background-color: rgb(235, 40, 25);
    border: none;
    border-radius: 12px;
    height: 56px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}