.catalog__filter {
    width: 396px;
    height: 809px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.catalog__filter::-webkit-scrollbar {
    width: 6px;
}

.catalog__filter::-webkit-scrollbar-track {
    background-color: rgb(245, 245, 245);
}

.catalog__filter::-webkit-scrollbar-thumb {
    background-color: rgba(235, 40, 25, 0.2);
}
