.catalog__checkbox-button {
   height: 29px;
   display: flex;
   align-items: center;
   gap: 8px;
   color: rgb(33, 33, 33);
   font-weight: 500;
   font-size: 24px;
   border: none;
   background-color: rgb(255, 255, 255);
   padding: 0;
   margin-bottom: 14px;
}