.search {
    width: 1640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-shadow: 0 4px 6px rgba(18, 21, 105, 0.08);
    border-radius: 16px;
    margin: 28px auto 0 auto;
}