#info__slider {
    position: relative;
  }
#info__slider .slides img {
  display: none;
  transition: opacity 0.5s;
}

#info__slider .slides img.active {
  display: block;
}

#info__slider .dots {
  text-align: center;
}

#info__slider .dots span {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 8px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(33, 33, 33);
  border-radius: 50%;
  display: inline-block;
}

#info__slider .dots span.active {
  background-color: rgb(33, 33, 33);
}
